@use "sass:color";

body {
  margin: 0;
  padding: 2em;
  font-family: $font-family-sans-serif;
  background-color: color(baby-powder);
  color: color(oxford-blue);
  min-height: 100vh;
  line-height: 1.5;
  display: flex;
  flex-flow: column;
  letter-spacing: 1.25px;
}

a {
  color: inherit;
}

.section {
  display: flex column;
  padding: 5% 0 0 0;

  &__title {
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 15%;

    @include desktop {
      margin-bottom: 5%;
    }

    &--highlighted {
      & span {
        border-bottom: 5px solid color(amber);
      }
    }
  }

  &__content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;

    @include desktop {
      flex-flow: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &--row {
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    & > * {
      margin: 15px 0;
    }

    & > p {
      @include desktop {
        flex: 1;
        margin-right: 5%;
      }
    }
  }
}

.timeline {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  &__element {
    border-top: 4px dashed;
    border-color: color(amber) !important;
    margin: 0;
    padding: 30px;
    justify-content: center;
    align-items: center;

    @include desktop {
      width: 60%;
    }

    &:nth-child(even) {
      border-left: 4px dashed;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      margin-right: 30px;
      padding-right: 0;
      text-align: left;
    }

    &:nth-child(odd) {
      border-right: 4px dashed;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      margin-left: 30px;
      padding-left: 0;
      text-align: right;
    }

    &:first-child {
      border-top: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    
    &:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__title {
    font-size: 1.15em;
    margin: 0;
    font-weight: 700;

    &--important {
      font-size: 1.8em;
    }

    &--highlighted {
      color: color(amber);
    }
  }

  &__subtitle {
    font-size: 0.75em;
    margin: 0;
    font-weight: 500;
    font-weight: lighter;
  }

  &__content {
    border: none !important;
    margin: 0 !important;
    padding: 15px 0 !important;
  }
}

.icon {
  &--animated {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
}

.header {
  display: flex;
  flex-flow: column;

  @include desktop {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 500px;
  }

  &__content {
    display: flex;
    flex-flow: column;

    @include desktop {
      flex: 1;
      max-width: 40%;
      padding-right: 5%;
    }
  }

  &__title {
    font-size: 2.5em;
    font-weight: 900;

    @include desktop {
      flex: 1;
      align-items: center;
      max-width: 500px;
      max-height: 100px;
      font-size: 4em;
    }
    
    & p {
      margin: 0;
    }

    &--highlighted {
      & span {
        color: color(amber);
      }
    }
  }

  &__social {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 10% 0;

    @include desktop {
      justify-content: space-evenly;
      padding-top: 0;
      z-index: 1;
    }
  }

  &__img {
    flex: 1;
    max-width: 100%;
    padding: 5% 0;
    animation: animate 10s linear infinite;

    @include desktop {
      flex: 1;
      max-width: 100%;
      margin-top: 30%;
    }
  }
}

.card {
  width: 100%;
  min-width: 200px;
  height: 250px;
  background-color: color(baby-powder);
  margin: 30px 0;
  border-radius: 10px;
  box-shadow: 0 2px 10px transparentize(color(oxford-blue), 0.7);
  font-size: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;

  @include desktop {
    flex: 1;
    max-width: 30%;
    min-width: 30%;
  }

  &--small {
    min-width: 80px;
    height: 80px;
    width: 80px;
    font-size: 1.5em;

    &:hover {
      height: 80px !important;
    }

    & .card__title {
      margin: 0;
    }
  }

  &--rounded {
    border-radius: 90px;
    flex: 1 0 33%;
    border: none;
    box-shadow: none;
    min-height: 80px;

    @include desktop {
      flex: 1 0 25%;
    }

    &:hover {
      box-shadow: none !important;
    }
  }
  
  &:hover {
    height: 300px;
    box-shadow: 0 5px 20px transparentize(color(amber), 0.7);

    & .card__icon {
      background-position: -120px;
      transition: all 0.3s ease;

      & i {
        background: color(baby-powder);
        background-clip: text;
        opacity: 1;
        transition: all 0.3s ease;
      }
    }

    & .card__text {
      transition: all 0.3s ease;
      opacity: 1;
      max-height: 200px;
    }
  }

  &__img {
    width: 80px;
    height: 80px;
  }

  &__icon {
    margin: 2% auto;
    width: 100%;
    height: 80px;
    max-width: 80px;
    background: linear-gradient(90deg, color(oxford-blue) 0%, color(oxford-blue) 40%, color(blue-munsell) 60%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: color(baby-powder);
    transition: all 0.8s ease;
    background-position: 0;
    background-size: 200px;

    &--no-margin {
      margin: 0;
    }
  }
 
  &__title {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    color: color(oxford-blue);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  &__text {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    color: color(oxford-blue);
    letter-spacing: 2px;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;

    &--flip {
      color: color(baby-powder);
      max-height: none;
      opacity: 1;
      margin-top: 0;
    }
  }
}

.flip-card {
  width: 100%;
  min-width: 200px;
  height: 250px;
  margin: 30px 0;
  font-size: 16px;
  perspective: 1000px;

  @include desktop {
    max-width: 30%;
  }
  

  &:hover {
    & .flip-card__container {
      transform: rotateY(180deg);
    }
  }

  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  &__front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: color(baby-powder);
    border-radius: 10px;
    box-shadow: 0 2px 10px transparentize(color(oxford-blue), 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__back {
    @extend .flip-card__front;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: color(baby-powder);
    opacity: 1;
    transform: rotateY(180deg);
    background: color(blue-munsell);
  }
}

@keyframes animate {
  0%,
  100% {
    border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;
  }

  25% {
    border-radius: 73% 27% 26% 38% / 73% 36% 64% 27%;
  }

  50% {
    border-radius: 28% 72% 44% 56% / 49% 40% 60% 51%;
  }

  75% {
    border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
  }
}

@keyframes wave-animation {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}
