@use "sass:color";

$font-family-sans-serif: helvetica;
//'Poppins', sans-serif;
//$font-family-serif: "Georgia", "Times New Roman", serif;

//$uoc-corporate: #000078;
//$uoc-masterbrand: #73edff;

$baby-powder: #fdfff7;
$amber: #ff7f11;
$blue-munsell: #348aa7;
$oxford-blue: #001d4a;
$gunmetal: #2b303a;

//$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);
