$colors: (
  baby-powder: #fdfff7,
  amber: #ff7f11,
  blue-munsell: #348aa7,
  oxford-blue: #001d4a
);

$font-family-sans-serif: helvetica;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$desktop: 840px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
